<style>
    .card {
          border-radius: 15px;
          transition: transform 0.3s, box-shadow 0.3s;
      }
      .card:hover {
          transform: translateY(-5px);
          box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      }
      .card-title {
          font-size: 2rem;
          font-weight: bold;
      }
      .width {
          max-width: 400px;
          margin: auto;
          padding: auto;
      }
      .select-container {
          display: flex;
          justify-content: flex-end;
          margin-bottom: 1rem;
      }
      .form-select {
          width: 150px;
      }
</style>

<h1 class="mb-3">Báo cáo thống kê cửa hàng</h1>

<div class="select-container">
    <select class="form-select text-center">
        <option class="text-center" value="Ngày">Ngày</option>
        <option class="text-center" value="Tuần">Tuần</option>
        <option class="text-center" value="Tháng">Tháng</option>
        <option class="text-center" selected value="Năm">Năm</option>
    </select>
</div>

<div class="row mt-4 width">
    <div class="card text-white bg-primary mb-4">
        <div class="card-header">Số lượng hàng tồn</div>
        <div class="card-body">
            <h5 class="card-title">100</h5>
        </div>
    </div>
</div>

<div class="row mt-4 width">
    <div class="card text-white bg-success mb-4">
        <div class="card-header">Doanh thu</div>
        <div class="card-body">
            <h5 class="card-title">10,000,000 VNĐ</h5>
        </div>
    </div>
</div>

<div class="row mt-4 width">
    <div class="card text-white bg-warning mb-4">
        <div class="card-header">Số lượng bán</div>
        <div class="card-body">
            <h5 class="card-title">250</h5>
        </div>
    </div>
</div>

<div class="row mt-4 width">
    <div class="card text-white bg-danger mb-4">
        <div class="card-header">Lợi nhuận</div>
        <div class="card-body">
            <h5 class="card-title">2,000,000 VNĐ</h5>
        </div>
    </div>
</div>
